.amountBtn {
  height: 42px;
  width: 60px;
  color: black;
  border: solid black 1px;
  border-radius: 30px;
  background-color: rgb(247, 247, 247);
  margin: 6px;
  font-weight: bold;
  font-size: 12px;
}

.amountBtn:hover {
  cursor: pointer;
}

.disabled {
  background-color: grey;
}

.disabled:hover {
  cursor: auto;
}
